@tailwind components;

@layer components {
	.nav {
		@apply h-[48px] fixed top-0 left-0 w-full shadow-sm z-10;
		background: #fff;
	}
	.wrap {
		@apply max-w-[768px] mx-auto h-full py-[2px] px-[12px] flex justify-between items-center text-center;
	}
	.leftWrap {
		@apply w-16 cursor-pointer;
	}
	.rightWrap {
		@apply w-16;
	}
	.itemThumb {
		@apply aspect-video w-full;
	}
	.itemThumb img {
		@apply w-full h-full object-cover;
	}
	.itemDesc {
		@apply flex flex-col justify-between h-28 p-3;
	}
	.topBtn {
		@apply fixed right-4 lg:left-[calc(50%+320px)] z-20 w-11 h-11 rounded-full bg-white flex justify-center items-center border border-gray cursor-pointer hover:bg-bgGray;
	}
}
