@keyframes ToTopButton_show {
	0% {
		transform: translate3d(0, 5.2rem, 0);
	}
	100% {
		transform: translateZ(0);
	}
}

@keyframes ToTopButton_hide {
	0% {
		transform: translateZ(0);
	}
	100% {
		transform: translate3d(0, 5.2rem, 0);
	}
}

.animate-ToTopButton_hide {
	animation: ToTopButton_hide 0.2s cubic-bezier(1, 0, 1, 0.7) forwards;
}
.animate-ToTopButton_show {
	animation: ToTopButton_show 0.2s cubic-bezier(0, 1, 0.7, 1) forwards;
}
